html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*
 * Стили компонента App
 */
.App {
  background-color: #fffcfa;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
  position: relative;
}

/*
 * Стили компонента Searchbar
 */
.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: lightseagreen;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/*
 * Стили компонента SearchForm
 */
.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.SearchForm-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchForm-button:hover {
  opacity: 1;
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForm-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 18px;
}

/*
 * Стили компонента ImageGallery
 */
.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Стили компонента ImageGalleryItem
 */
.ImageGalleryItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ImageGalleryItem-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

/*
 * Стили компонента Modal
 */

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

/*
* Стили компонента Buton (Load more)
*/
.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #20b2aa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-style: normal;
  font-weight: 500;
  width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background-color: rgb(5, 143, 136);
}

.Loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.CloseModal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
  background-image: url("./assets/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.ToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: rgba(240, 240, 240, 0.9);
  border: transparent;
  outline: transparent;
  padding: 24px;
  width: 30px;
  height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/up-arrow.png);
}

.ToBottomBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  outline: transparent;
  border: transparent;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 24px;
  width: 30px;
  height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/down-arrow.png);
}

.ModalWrapper {
  position: relative;
}

.NotFound {
  width: 100vh;
  height: 100vh;
  background-color: #fffcfa;
  background-image: url(./assets/notFound.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
